@require "../styles/colors"
@require "../styles/variables"

.navbar
    border-bottom: 1px solid $background-dark
    background-color: rgba(156,146,172,1)
    font-weight 400
    font-size 80%
    font-family 'Lato', Arial, Helvetica, Sans-serif

.nabbar-list
    content-box()
    li
        display: inline
        line-height 300%
        margin-right 15px
        a
            cursor pointer
            text-decoration none
            color: $background-dark-contrast
        a:hover
            text-decoration none
